spring:
  application:
    name:  hello-service

management:
  endpoints:
    web:
      exposure:
        include: health,metrics
  otlp:
    metrics:
      export:
        url: http://localhost:4318/v1/metrics
        step: 10s
    tracing:
      endpoint: http://localhost:4318/v1/traces
  tracing:
    sampling:
      probability: 1.0
  metrics:
    tags:
      department: ${SERVICE_DEPARTMENT:software}
      team: ${SERVICE_TEAM:greeting}
      service: ${spring.application.name}
      env: ${SERVICE_ENV:dev}
      region: ${SERVICE_REGION:europe-west1}
      instance.id: ${SERVICE_INSTANCE_ID:dasdasdsadasd}
